<!-- Top Navbar -->
<nav class="navbar navbar-expand navbar-light navbar-bg">
  <a href="#" class="sidebar-toggle js-sidebar-toggle">
    <i data-feather="menu" class="align-self-center"></i>
  </a>

  <div class="navbar-collapse collapse">
    <ul class="navbar-nav ms-auto">
      <li class="nav-item">
        <span class="nav-link fw-semibold">Welcome to SLAlytics</span>
      </li>
    </ul>
  </div>
</nav>
